<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tetravex</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="/css/tetravex-olejnik.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css"
          href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css"></link>
    <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>

    <!-- Hall of Fame example with JavaScript  -->
    <script type="text/javascript">

        //<![CDATA[
        $(document).ready(function () {
            $.ajax({
                url: "/rest/score/tetravex"
            }).done(function (json) {
                for (var i = 0; i < json.length; i++) {
                    var score = json[i];
                    $("#scoreList").append($("<li>" + score.player + " " + score.points + " " + score.playedOn + "</li>"));
                }
            });
        });

        $(document).ready(function () {
            $.ajax({
                url: "/rest/comment/tetravex"
            }).done(function (json) {
                for (var i = 0; i < json.length; i++) {
                    var comment = json[i];
                    var date = new Date(comment.commentedOn);
                    $("#commentList").append($("<li>" + comment.player + " " + comment.comment + " " + date + "</li>"));
                }
            });
        });

        $(document).ready(function () {
            $.ajax({
                url: "/rest/rating/tetravex"
            }).done(function (json) {
                    $(" #avgRating").append($("<span>" + json + "</span>"));

            });
        });
        //]]>
    </script>

</head>

<body>

<h1>Tetravex</h1>

<!-- Here add rendering of your game field-->

<p th:utext='${webUI.renderAsHtml()}' />


<!-- Here add commands (buttons) for controlling your game, e.g.: -->
<a href="?command=new">New Game</a>
<a href="?command=shuffle">Shuffle numbers</a>
<a href="?command=fast" class="inactiveLink">Fast mode</a>

<hr/>
<h2>Hall of fame</h2>

<h3>Score</h3>
<table>
    <thead>
    <tr>
        <th>Player</th>
        <th>Points</th>
        <th>Played on</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="score: ${scores}">
        <td th:text="${score.player}"></td>
        <td th:text="${score.points}"></td>
        <td th:text="${score.playedOn}"></td>
    </tr>
    </tbody>
</table>

<h3>Comment</h3>
<table>
    <thead>
    <tr>
        <th>Player</th>
        <th>Comment</th>
        <th>Commented on</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="comment: ${comments}">
        <td th:text="${comment.player}"></td>
        <td th:text="${comment.comment}"></td>
        <td th:text="${comment.commentedOn}"></td>
    </tr>
    </tbody>
</table>

<div id="Comment">
<fieldset>
    <form action="/comment" method="post">
        <label>Player Name:</label>
        <label>
            <input name="player" type="text" th:required="required"/>
        </label>
        <label>Comment:</label>
        <label>
            <input name="comment" type="text" th:required="required"/>
        </label><br/><br/>
        <input type="submit" value="ADD Comment" class="button"/><br/>
    </form>
</fieldset>
</div>

<div id="Rating">
    <fieldset>
        <form action="/rating" method="post">
            <label>Player Name:</label>
            <label>
                <input name="player" type="text" th:required="required"/>
            </label>
            <label>Rating:</label>
            <label>
                <input name="rating" min="1" max="5" type="number" th:required="required"/>
            </label><br/><br/>
            <input type="submit" value="ADD Rating" class="button"/><br/>
        </form>
    </fieldset>
</div>

<h3>Score List</h3>
<ol id="scoreList"/>

<h3>Comment List</h3>
<ol id="commentList"/>

<h3>Average rating</h3>
<ol id="avgRating"/>

<!--<h3>Client side generation - jQuery DataTable</h3>-->
<!--<table id="example"/>-->
</body>
</html>
